<mat-card>
    <mat-card-title>Excluir Fornecedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome fantasia" [value]="fornecedor.forNomeFantasia" name="forNomeFantasia" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ" [value]="fornecedor.forCnpj" name="forCnpj" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Razão social" [value]="fornecedor.forRazaoSocial" name="forRazaoSocial" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteFornecedor()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>