<mat-card>
    <mat-card-title>Novo Fornecedor</mat-card-title>
    <form>
        
        <!-- Campo de entrada para o Nome Fantasia -->
        <mat-form-field>
            <input 
                matInput 
                placeholder="Nome fantasia" 
                [(ngModel)]="fornecedor.forNomeFantasia" 
                name="forNomeFantasia">
        </mat-form-field>

        <!-- Campo de entrada para a Razão Social -->
        <mat-form-field>
            <input 
                matInput 
                placeholder="Razão social" 
                [(ngModel)]="fornecedor.forRazaoSocial" 
                name="forRazaoSocial">
        </mat-form-field>

        <!-- Campo de entrada para o CNPJ -->
        <mat-form-field>
            <input 
                matInput 
                placeholder="CNPJ" 
                [(ngModel)]="fornecedor.forCnpj" 
                name="forCnpj">
        </mat-form-field>

    </form>

    <!-- Botão para salvar o fornecedor -->
    <button 
        mat-raised-button 
        (click)="createFornecedor()" 
        color="primary">
        Salvar
    </button>
   
    <!-- Botão para cancelar a operação -->
    <button 
        mat-raised-button 
        (click)="cancel()">
        Cancelar
    </button>
</mat-card>